@model MenuDart.Models.DashboardModel
           
@{
    ViewBag.Title = "MenuDart. Easy Mobile Menus. Your Dashboard.";
    int activeCount = 0;
    int monthlyBill = 0;
}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <center><h1>Your Dashboard.</h1>
        <br>
        <h2>(@Model.Email)</h2>
        </center>
        <br>
        <dl>
          <dt>Menus <span class="badge badge-info">@Model.Menus.Count()</span></dt>
          <br>
          <dd>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>City</th>
                  <th>Active</th>
                  <th>Hits this month @Html.ActionLink("(History)", "Index", "Dashboard")</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                @foreach (var item in Model.Menus)
                {
                    <tr>                    
                      <td>@Html.DisplayFor(modelItem => item.Name)</td>
                      <td>@Html.DisplayFor(modelItem => item.City)</td>
                      <td>
                        @if (@item.Active)
                        {
                            activeCount++;
                            <text><span class="badge badge-success">Yes</span></text>
                        }
                        else
                        {
                           <text><span class="badge badge-important">No</span></text> 
                        }
                      </td>
                      <td>300</td>
                      <td>
                        @if (@item.Active)
                        {
                            <text>
                            @Html.ActionLink("View", "ViewActiveMenu", "Menu", new { id = item.ID }, null) |
                            @Html.ActionLink("Edit Menu", "Edit", "Menu", new { id = item.ID }, null) |
                            @Html.ActionLink("Deactivate", "Deactivate", "Subscription", new { id = item.ID }, null)
                            </text>
                        }
                        else
                        {
                            <text>
                            @Html.ActionLink("Preview", "PreviewMenu", "Menu", new { id = item.ID, useSampleLogo = false }, null) |
                            @Html.ActionLink("Edit Menu", "Edit", "Menu", new { id = item.ID }, null) |
                            @Html.ActionLink("Activate", "Activate", "Subscription", new { id = item.ID }, null) |
                            @Html.ActionLink("Trash", "Delete", "Menu", new { id = item.ID }, null)
                            </text>
                        }
                      </td>
                    </tr>
                        monthlyBill = activeCount * 7;
                }               
              </tbody>
            </table>
            @Html.ActionLink("Create a new menu", "MenuBuilder", "Menu", null, null)        
          </dd>
          <br>
          <dt>Billing</dt>
          <dd>
            @if (!@Model.TrialEnded)
            {
                <text>
                You are currently on a <span class="badge badge-warning">free 1-month trial</span>, which ends on 1/23/12. Or you can go ahead and @Html.ActionLink("activate all your menu(s) if you'd like.", "ActivateAll", "Subscription", new { email = Model.Email, quantity = @Model.Menus.Count() }, null)
                </text> 
            }
            else if (@Model.Subscribed)
            {
                if (@Model.CouponActive)
                {
                    <text>
                    You are currently <span class="badge badge-success">subscribed with @activeCount</span> active menu(s) but no charges: You are currently on a courtesy 1-month coupon that will expire on [date]. [@Html.ActionLink("Reactivate", "Unsuspend", "Subscription", new { email = Model.Email }, null)]
                    </text>
                }
                else
                {
                    <text>
                    You are currently <span class="badge badge-success">subscribed with @activeCount</span> active menu(s) for a total of $@monthlyBill per month. (@activeCount x $7 = $@monthlyBill) [@Html.ActionLink("Deactivate all menu(s)", "DeactivateAll", "Subscription", new { email = Model.Email }, null) | @Html.ActionLink("Suspend", "Suspend", "Subscription", new { email = Model.Email }, null)]
                    </text>            
                }
            }
            else
            {
                <text>
                You are currently <span class="badge badge-important">unsubscribed</span> and do not have any active menus. You do not have any charges. [@Html.ActionLink("Activate all menu(s)", "ActivateAll", "Subscription", new { email = Model.Email, quantity = @Model.Menus.Count() }, null)]
                </text>        
            }
          </dd>
          <br>
          <dt>Account</dt>
          <dd>Need to change your password? @Html.ActionLink("Do it here", "ChangePassword", "Account").
          <br><br>
            <input type="checkbox"> Email me my menu stats/hits at the beginning of each month.
          </dd>
          <br>
          <dt>Talk to us</dt>
          <dd>Have a question? Or just want to give feedback? The MenuDart Support Team loves to talk!
          <br>
            Just speak your mind in the form below, and we promise to get back to you over email (email account).
          <br>
            <p>
                @using (Html.BeginForm("Index", "Dashboard", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.ValidationSummary(true)
                        <fieldset>
                        @Html.HiddenFor(model => model.Email)
                        <div class="control-group">
                            <label class="control-label">@Html.LabelFor(model => model.Feedback, "Question/Feedback")</label>
                            <div class="controls">
                                @Html.TextAreaFor(model => model.Feedback, new { @class = "input-xlarge", style = "width: 300px; height: 250px;" })
                                @Html.ValidationMessageFor(model => model.Feedback)
                            </div>
                        </div>
                        <div class="form-actions">
                          <button type="submit" value="Send" class="btn btn-large btn-primary"><i class="icon-envelope icon-white"></i> Send</button>
                        </div>
                        </fieldset>
                }
            </p>              
          </dd>          
        </dl>
        <br>
        <p>
        </p>
      </div> <!-- hero -->

<!-- Intercom.io Tracking -->
<script id="IntercomSettingsScriptTag">
    var intercomSettings = {
        app_id: '4v9tw6zz',
        email: '@Model.Email', // TODO: User's e-mail address
        created_at: @Model.SignUpDate, // TODO: User's sign-up date, Unix timestamp
        user_id: '@Model.ID', // TODO: Unique user identifier that will not change
        custom_data: {
            'Subscribed': '@Model.Subscribed',
            'Active Menus': @activeCount
        }
    };
</script>
<script>
    (function () {
        function async_load() {
            var s = document.createElement('script');
            s.type = 'text/javascript'; s.async = true;
            s.src = 'https://api.intercom.io/api/js/library.js';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        }
        if (window.attachEvent) {
            window.attachEvent('onload', async_load);
        } else {
            window.addEventListener('load', async_load, false);
        }
    })();
</script>


