@using ActionMailer.Net.Mvc
@model MenuDart.Models.SendDeactivateEmailViewModel

@{
    ViewBag.Title = "Your Menu Is Deactivated";
    Layout = "../Shared/EmailLayout.cshtml";
}

Hey there @Model.Email,
<p style="margin-bottom:1em">
@if (Model.RemainingActiveMenus.Count() > 0)
{
    <text>
    Your menu has been deactivated. Your current deactivated menu(s):
    <p style="margin-bottom:1em">
    </text>
        
    foreach (var item in Model.DeactivatedMenus)
    {
        @item.MenuName<text><br></text>
    }
        
    <text>
    <p style="margin-bottom:1em">
     Remember, can always re-activate your menu(s) at anytime.
    <p style="margin-bottom:1em">
     Your remaining active menu(s) are:
    <p style="margin-bottom:1em">
    </text>
    
    foreach (var item in Model.RemainingActiveMenus)
    {
         @item.MenuName
         <text> (</text>@item.MenuLink<text>) <br></text>
    }
    
    <text>
    <p style="margin-bottom:1em">
    Starting today, your monthly Menu Dart bill is only $@Model.MonthlyBill per month ($7 per menu). Please contact us if you have any questions.
    </text>
}
else
{
    <text>
    You have deactivated your menu(s). Starting today, you will no longer have a Menu Dart bill.
    <p style="margin-bottom:1em">
    Remember, can always re-activate your menu(s) at anytime:
    <p style="margin-bottom:1em">
    </text>
    
    foreach (var item in Model.DeactivatedMenus)
    {
         <text><a href="http://www.menudart.com/Dashboard">@item.MenuName</a><br></text>
    }
    
    <text>
    <p style="margin-bottom:1em">
    Please contact us if you have any questions.
    </text>
}
<p style="margin-bottom:1em">
Happy to serve you,
<br>
Your Friends at Menu Dart
