<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" /> -->
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet">
    <!-- <link href="@Url.Content("~/Content/bootstrap-responsive.css")" rel="stylesheet"> -->
    <link href="@Url.Content("~/Content/master.css")" rel="stylesheet">  

    <!-- Padding due to top toolbar -->
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">

    <!-- Need to include JQuery first before other JS -->
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>

    @RenderSection("Scripts", false)
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="@Url.Action("Index", "Home")"><img alt="Foo" id="topbar_logo" src="@Url.Content("~/Content/images/logo.png")"></a>
          <div class="nav-collapse">
            <ul class="nav">
               @MenuDart.Controllers.MenuExtensions.MenuItem(Html, "Features", "Features", "Home")
               @MenuDart.Controllers.MenuExtensions.MenuItem(Html, "Using It", "Using", "Home")
               @MenuDart.Controllers.MenuExtensions.MenuItem(Html, "Pricing", "Pricing", "Home")
            </ul>
            <ul class="nav pull-right">
              @Html.Partial("_LogOnPartial")
            </ul>
          </div><!--/.nav-collapse (Everything you want hidden at 940px or less, place within here) -->
        </div>
      </div>
    </div>
    <br />

    <div id="wrap">
    <div id="main" class="container">

      @RenderBody()

    </div> <!-- /container -->
    </div>

    <br /><br />
    <footer class="footer">
      <div class="container">
      <div class="row">
        <div class="span6">
            <!-- <h3>Empowering independent businesses.</h3> -->
            <img src="@Url.Content("~/Content/images/slogan.png")">
        </div>
        <div class="span3 offset3 right">
            <ul class="unstyled">
              <li><a href="mailto:support@menudart.com">Need Help?</a> &middot; <a href="http://twitter.com/menudart" target="_blank">We're on Twitter.</a></li>
              <li>&copy; 2013 Menu Dart</li>
            </ul>
        </div>
      </div>
      </div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-transition.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-carousel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-tooltip.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-button.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-alert.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-modal.js")" type="text/javascript"></script>

    <!-- Goog Analytics -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38279742-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>
