@model MenuDart.Models.RegisterModel

@{
    ViewBag.Title = "MenuDart. Easy Mobile Menus. Sign up.";
}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <center><h1>Sign Up, Free.*</h1></center>
        <br><br />
        <center><h4></h4></center>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
                  <fieldset>
                    @if (!string.IsNullOrEmpty(ViewBag.ReturnAction) && !string.IsNullOrEmpty(ViewBag.ReturnController))
                    {
                        @Html.Hidden("ReturnAction", (object)ViewBag.ReturnAction)
                        @Html.Hidden("ReturnController", (object)ViewBag.ReturnController)
                        @Html.Hidden("ReturnMenuId", (object)ViewBag.MenuID)
                    }
                    <div class="control-group">
                      <label class="control-label">@Html.LabelFor(m => m.Email, "Your email")</label>
                      <div class="controls">
                            <div class="input-prepend">
                            <span class="add-on"><i class="icon-envelope"></i></span>
                                @Html.TextBoxFor(m => m.Email, new { @class = "input-xlarge", style = "width: 300px;" })
                                @Html.ValidationMessageFor(m => m.Email)
                             </div>
                        <p class="help-block"></p>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">@Html.LabelFor(m => m.Password, "New password")</label>
                      <div class="controls">
                            <div class="input-prepend">
                            <span class="add-on"><i class="icon-lock"></i></span>
                                @Html.PasswordFor(m => m.Password, new { @class = "input-xlarge", style = "width: 300px;" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        <p class="help-block"></p>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">@Html.LabelFor(m => m.ConfirmPassword, "Confirm password")</label>
                      <div class="controls">
                            <div class="input-prepend">
                            <span class="add-on"><i class="icon-lock"></i></span>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-xlarge", style = "width: 300px;" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                      </div>
                    </div>
                  <div class="form-actions">
                    <button type="submit" value="Register" class="btn btn-large btn-primary"><i class="icon-ok icon-white"></i> Create</button>
                    <a class="btn btn-large" href="@Url.Action("Index", "Home")"><i class="icon-remove"></i> Cancel</a>
                  </div>            
                  </fieldset>
              }
        </p>
        <p>       
          <div class="row">
            <div class="span5 dialogFooter">
                Already have an account?
                @if (!string.IsNullOrEmpty(ViewBag.ReturnAction) && !string.IsNullOrEmpty(ViewBag.ReturnController))
                {
                    @Html.ActionLink("Log in here.", "LogOn", "Account", new { returnAction = "MenuBuilder3", returnController = "Menu", menuID = ViewBag.MenuId }, null)
                }
                else
                {
                    @Html.ActionLink("Log in here.", "LogOn", "Account")
                } 
            </div>
            <div class="span4 offset1">
                <ul class="unstyled dialogFooter greytext">
                  <li>* Don't worry, we won't sell or spam your email. It's only used to communicate actions you take on Menu Dart.</li>
                </ul>
            </div>
          </div>
      </div>

@Html.Partial("_FormValidation")
