@model MenuDart.Models.MenuNode

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete the entire menu node?</h3>
<fieldset>
    <legend>MenuNode</legend>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Link</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Link)
    </div>

    <div class="display-label">Text</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Text)
    </div>
</fieldset>

    <p>
        @Html.ActionLink("Delete", "DeleteConfirmed", new { id = ViewBag.MenuId, nodeIdx = ViewBag.NodeIdx }, null) |
        @Html.ActionLink("Back to Menu Nodes", "Edit", new { id = ViewBag.MenuId }, null)
    </p>
