@model MenuDart.Models.MenuNode

@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to delete the entire "@Model.Title" and all its subitems?</h2>

<fieldset>
    <legend>Delete</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Link</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Link)
    </div>

    <div class="display-label">Text</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Text)
    </div>
</fieldset>

    <p>
        @Html.ActionLink("Delete", "DeleteConfirmed", new { id = ViewBag.MenuId, parent = ViewBag.Parent, idx = ViewBag.Index }, null) |
        @Html.ActionLink("Back", "Details", "MenuTree", new { id = ViewBag.MenuId, parent = ViewBag.Parent, idx = -1 }, null)
    </p>