@model List<MenuDart.Models.MenuNode>

@{
    ViewBag.Title = "MenuDart. Easy Mobile Menus. Menu Builder.";
}

@section Scripts {
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script type="text/javascript">
        // do not handle links via ajax by default; Turn off ajax
        $(document).bind("mobileinit", function () { $.mobile.ajaxEnabled = false; });
    </script>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/templates/base/index_files/template.css")" type="text/css" />
	<script src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
}

<div data-role="page">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <center><h1>Menu Builder.</h1></center>
        @if (ViewBag.Source == "MenuBuilder")
        {
            <text>
            <br>
            <center>Wow, you're at the last step already! But it's <strong>very important</strong> since you'll be listing your menu items.
            <br>Just create and organize categories, then menu items. Click on categories to edit them.
            </text>
        }
        <p>
        </center>

	<div data-role="header">
		<div data-role="navbar">
            @if (!string.IsNullOrEmpty(ViewBag.LevelTitle))
            {
		        <center><h2>@ViewBag.LevelTitle</h2></center>
            }
            else if (string.IsNullOrEmpty(ViewBag.UpLevel) || (ViewBag.Parent == "0"))
            {
                <text><center><h2>@ViewBag.Name</h2></center></text>
            }
		</div><!-- /navbar -->
	</div><!-- /header -->

	<div data-role="content">
        @if (!string.IsNullOrEmpty(ViewBag.Text))
        {
		<center>@Html.Raw(ViewBag.Text)<br>
            @Html.ActionLink("Delete", "DeleteText", new { id = ViewBag.MenuId, parent = ViewBag.Parent } )
            @Html.ActionLink("Edit", "EditText", new { id = ViewBag.MenuId, parent = ViewBag.Parent }, null)
        </center>
        }
        else if (ViewBag.Parent != "0")
        {
            <center>@Html.ActionLink("Add Text", "CreateText", new { id = ViewBag.MenuId, parent = ViewBag.Parent }, null)</center>
        }
		<ul data-role="listview" data-inset="true">

        @for (int i = 0; i < Model.Count; i++)
        {
            if (Model[i] is MenuDart.Models.MenuLeaf)
            {
                MenuDart.Models.MenuLeaf currentItem = Model[i] as MenuDart.Models.MenuLeaf;
                
                <li>
					<h3>@currentItem.Title</h3>
					<p>@currentItem.Description</p>
					<span class="ui-li-count">@currentItem.Price</span>
                    <p>
                        @Html.ActionLink("Delete", "Delete", new { id = ViewBag.MenuId, parent = ViewBag.Parent, idx = i }, null)
                        @Html.ActionLink("Edit", "EditItem", new { id = ViewBag.MenuId, parent = ViewBag.Parent, idx = i }, null)
                    </p>
				</li>       
            }
            else
            {
                <li><a href="@ViewBag.MenuId?parent=@ViewBag.Parent&idx=@(i)&ReturnUrl=@ViewBag.ReturnUrl">@Model[i].Title</a>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.ActionLink("Delete", "Delete", new { id = ViewBag.MenuId, parent = ViewBag.Parent, idx = i }, null)
                    @Html.ActionLink("Edit", "Edit", new { id = ViewBag.MenuId, parent = ViewBag.Parent, idx = i }, null)
                </p>
                </li>
            }
        }

		</ul>

        @Html.ActionLink("Add Category", "Create", "MenuTree", new { id = ViewBag.MenuId, parent = ViewBag.Parent }, null)
        <br />
        @Html.ActionLink("Add Item", "CreateItem", "MenuTree", new { id = ViewBag.MenuId, parent = ViewBag.Parent }, null)
        <br />
        <br />
        <br />
        <hr />
        @if (!string.IsNullOrEmpty(ViewBag.UpLevel) && (ViewBag.Parent != "0"))
        {
            @Html.ActionLink("Back one level", "Details", "MenuTree", new { id = ViewBag.MenuId, parent = ViewBag.UpLevel, idx = -1, ReturnUrl = ViewBag.ReturnUrl }, null)
        }
        else
        {
            <text><b>This is the main level.</b></text>
        }
        <br />
        @if (ViewBag.Source == "MenuBuilder")
        {
            <text>
            <hr>
            <p>
            <a class="btn btn-primary btn-large" href="@Url.Action("MenuBuilder9", "Menu", new { id = ViewBag.MenuId }, null)">Finish <i class="icon-chevron-right icon-white"></i></a>
            </p>
            <br>
                You're almost there!
                <div class="progress progress-striped">
                  <div class="bar" style="width: 97%;">
                  </div>
                </div>
            </text>            
        }
        else
        {
            @Html.ActionLink("Back to Editor", (string)ViewBag.ReturnUrl, "Menu")
            <text><b>or just "Close" button?</b></text><br />
            @Html.ActionLink("Preview", "PreviewMenu", "Menu", new { id = ViewBag.MenuId }, null)
        }
	</div><!-- /content -->

      </div> <!-- hero -->
</div> <!-- data-role="page" -->