@model MenuDart.Models.MenuLeaf

@{
    ViewBag.Title = "Menu Dart. Menu Item Editor.";
}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">

<center>
<h1>Edit Menu Item.</h1>
</center>
<br><br />

@using (Html.BeginForm("EditItem", "MenuTree", new { id = ViewBag.MenuId, parent = ViewBag.Parent, idx = ViewBag.Idx }, FormMethod.Post, new { @class = "form-horizontal", @name = "editor_form" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
            @Html.HiddenFor(model => model.ID)     
            
            <div class="control-group">
                <label class="control-label">@Html.LabelFor(model => model.Title, "Item Name")</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.Title, new { @class = "input-xlarge", style = "width: 300px;" })
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@Html.LabelFor(model => model.Description, "Description")</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.Description, new { @class = "input-xlarge", style = "width: 500px;" })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@Html.LabelFor(model => model.Price, "Price")</label>
                <div class="controls">
                    <div class="input-prepend">
                    <span class="add-on">$</span>
                        @Html.TextBoxFor(model => model.Price, new { @class = "input-xlarge", style = "width: 60px;" })
                        @Html.ValidationMessageFor(model => model.Price)
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" value="Save" id="save_btn" name="save_btn" class="btn btn-large btn-primary" data-loading-text="Saving..." disabled>Save</button>
                <a class="btn btn-large" id="cancel_btn" href="@Url.Action("Details", "MenuTree", new { id = ViewBag.MenuId, parent = ViewBag.Parent, idx = -1 }, null)">Cancel</a>
            </div>

            <script type="text/javascript">
                $(document).ready(function () {
                    $('.input-xlarge').keyup(function (e) {
                        //ignore if the tab key is pressed
                        if (e.keyCode == 9) return false;
                        //else enable save and cancel buttons
                        document.editor_form.save_btn.disabled = false;
                    });
                });
            </script>
    </fieldset>
}

</div> <!-- hero -->

@Html.Partial("_FormValidation")

<script type="text/javascript">
    //stateful buttons
    $(document).ready(function () {
        $('#save_btn').button();

        $('#save_btn').click(function () {
            $(this).button('loading');
        });
    });
</script>              