@model MenuDart.Models.Menu

@{
    ViewBag.Title = "Activate";
}

<div class="hero-unit">
<center><h1>Activate @Model.Name.</h1>
<br>
<h3>
@if (ViewBag.NumActiveMenus <= 1)
{
    <text>
    By continuing, you will be prompted with a recurring billing agreement for @Model.Name menu at $@ViewBag.NewTotal a month.
    </text>
}
else
{
    <text>
    By continuing, your current billing agreement will be modified to a total of @ViewBag.NumActiveMenus active menu(s) at $@ViewBag.NewTotal a month.
    </text>
}
<p>
(You can always deactivate your menu anytime.)
</h3>

@using (Html.BeginForm("Activate", "Subscription", FormMethod.Post))
{
    @Html.Hidden("ActiveCount", (object)ViewBag.NumActiveMenus)
    @Html.Hidden("Email", (object)ViewBag.Email)

    <div class="form-actions">
        @if (ViewBag.NumActiveMenus <= 1)
        {
            <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
                    data-key="pk_0AQ27F6Upi3VpRUBHAPDlR9o4GnM6"
                    data-amount="700"
                    data-description="Monthly Subscription"
                    data-name="Menu Dart"
                    data-image="/128x128.png">
            </script>            
          <br /><br />
          <a class="btn" href="@Url.Action("Index", "Dashboard")"><i class="icon-remove"></i> Cancel</a>
        }
        else
        {
            <button type="submit" value="Activate" class="btn btn-large btn-primary"><i class="icon-ok icon-white"></i> Activate</button>
            <a class="btn btn-large" href="@Url.Action("Index", "Dashboard")"><i class="icon-remove"></i> Cancel</a>
        }
    </div>
}
</center>

<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>
</div> <!-- hero -->