@{
    ViewBag.Title = "Activate All Menu(s)?";
}

<div class="hero-unit">

@if (ViewBag.NumActiveMenus == 1)
{
    <text>
    <center><h1>Activate menu?</h1></center>
    <br>
    <div class="row">
        <div class="span7 offset2">
            <ul class="unstyled dialogHeader">
                <li>By continuing, you will be prompted with a <b>recurring billing agreement</b> for your menu at $@ViewBag.NewTotal per month.</li>
                <br />
                <li>Commitment-phobes: You can always cancel your subscription, <b>anytime, with a refund on days not used</b>.</li>
            </ul>
        </div>
    </div>
    </text>
}
else
{
    <text>
    <center><h1>Activate menu(s)?</h1></center>
    <br>
    <div class="row">
        <div class="span7 offset2">
            <ul class="unstyled dialogHeader">
                <li>By continuing, you will be prompted with a <b>recurring billing agreement</b> for @ViewBag.NumActiveMenus menu(s) at $@ViewBag.NewTotal per month.</li>
                <br />
                <li>Commitment-phobes: You can always cancel your subscription, <b>anytime, with a refund on days not used</b>.</li>
            </ul>
        </div>
    </div>
    </text>   
}

@using (Html.BeginForm())
{
        @Html.Hidden("Email", (object)ViewBag.Email)
        @Html.Hidden("Quantity", (object)ViewBag.NumActiveMenus)

        <div class="form-actions">
            <div class="row">
            <div class="span2 offset3">
              <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
                      data-key="@ViewBag.StripeKey"
                      data-amount="700"
                      data-description="Monthly Subscription"
                      data-name="Menu Dart"
                      data-image="@Url.Content("~/Content/images/lock_48.png")">
              </script>
            </div>         
            <div class="span2">
              <a class="btn" href="@Url.Action("Index", "Dashboard")"><i class="icon-remove"></i> Cancel</a>
            </div>
            </div>
            <br />
        </div>
}

@Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
<ul class="pull-right">
    <a href="http://www.stripe.com" target="_blank"><img src="@Url.Content("~/Content/images/lock_32.png")"><img src="@Url.Content("~/Content/images/stripe.png")"></a>
</ul>
</div> <!-- hero -->
