@{
    ViewBag.Title = "Activate All Menu(s)?";
}

<div class="hero-unit">
<center>
<h1>Activate all menu(s)?</h1>
<br>
<h3>
By continuing, you will be prompted with a recurring billing agreement for @ViewBag.NumActiveMenus menu(s) at $@ViewBag.NewTotal a month.
<p>
(You can always deactivate your menu(s) anytime.)
</h3>

@using (Html.BeginForm()) {
        @Html.Hidden("Email", (object)ViewBag.Email)
        @Html.Hidden("Quantity", (object)ViewBag.NumActiveMenus)

        <div class="form-actions">
            <button type="submit" value="ActivateAll" class="btn btn-large btn-primary"><i class="icon-ok icon-white"></i> Activate All</button>
            <a class="btn btn-primary btn-large" href="@Url.Action("Index", "Dashboard")"><i class="icon-remove icon-white"></i> Cancel</a>
        </div>
}
</center>

<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>
</div> <!-- hero -->
