@{
    ViewBag.Title = "Activate All Menu(s)?";
}

<div class="hero-unit">
<center>
<h1>Activate all menu(s)?</h1>
<br>
<h3>
By continuing, you will be prompted with a recurring billing agreement for @ViewBag.NumActiveMenus menu(s) at $@ViewBag.NewTotal a month.
<p>
(You can always deactivate your menu(s) anytime.)
</h3>

@using (Html.BeginForm()) {
        @Html.Hidden("Email", (object)ViewBag.Email)
        @Html.Hidden("Quantity", (object)ViewBag.NumActiveMenus)

        <div class="form-actions">
              <script src="https://button.stripe.com/v1/button.js" class="stripe-button"
                      data-key="pk_0AQ27F6Upi3VpRUBHAPDlR9o4GnM6"
                      data-amount="700">
              </script>
              <br />
              <a class="btn" href="@Url.Action("Index", "Dashboard")"><i class="icon-remove"></i> Cancel</a>
        </div>
}
</center>

<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>
</div> <!-- hero -->
