@{
    ViewBag.Title = "Activate All Menu(s)?";
}

<div class="hero-unit">
<center>

@if (ViewBag.NumActiveMenus == 1)
{
    <text>
    <h1>Activate menu?</h1>
    <br>
    <h3>
    By continuing, you will be prompted with a recurring billing agreement for your menu at $@ViewBag.NewTotal a month.
    <p>
    (Commitment-phobes: You can always cancel your subscription, anytime.)
    </h3>
    </text>
}
else
{
    <text>
    <h1>Activate menu(s)?</h1>
    <br>
    <h3>
    By continuing, you will be prompted with a recurring billing agreement for @ViewBag.NumActiveMenus menu(s) at $@ViewBag.NewTotal a month.
    <p>
    (Commitment-phobes: You can always cancel your subscription, anytime.)
    </h3>
    </text>   
}

@using (Html.BeginForm())
{
        @Html.Hidden("Email", (object)ViewBag.Email)
        @Html.Hidden("Quantity", (object)ViewBag.NumActiveMenus)

        <div class="form-actions">
              <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
                      data-key="pk_0AQ27F6Upi3VpRUBHAPDlR9o4GnM6"
                      data-amount="700"
                      data-description="Monthly Subscription"
                      data-name="Menu Dart"
                      data-image="/128x128.png">
              </script>
              <br /><br />
              <a class="btn" href="@Url.Action("Index", "Dashboard")"><i class="icon-remove"></i> Cancel</a>
        </div>
}
</center>

<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>
</div> <!-- hero -->
