@model MenuDart.Models.Menu

@{
    ViewBag.Title = "Activate";
}

<div class="hero-unit">
<center><h1>Activate<br />@Model.Name.</h1></center>
<br>
<div class="row">
    <div class="span7 offset2">
        <ul class="unstyled dialogHeader">
            @if (ViewBag.NumActiveMenus <= 1)
            {
                <text>
                <li>By continuing, you are agreeing to a <b>recurring billing agreement</b> for your @Model.Name menu at only $@ViewBag.NewTotal per month.</li>
                <br /><li>We use <a href="http://www.stripe.com" target=_blank>Stripe</a> to process a <b>quick, secure, and modern</b> payment with your credit card.</li>
                <br /><img src="@Url.Content("~/Content/images/creditcards.png")">
                </text>
            }
            else
            {
                <text>
                <li>By continuing, your current billing agreement will be modified to a total of @ViewBag.NumActiveMenus active menu(s) at $@ViewBag.NewTotal per month.</li>
                </text>
            }
        </ul>
    </div>
</div>

@using (Html.BeginForm("Activate", "Subscription", FormMethod.Post))
{
    @Html.Hidden("ActiveCount", (object)ViewBag.NumActiveMenus)
    @Html.Hidden("Email", (object)ViewBag.Email)

    <div class="form-actions">
        @if (ViewBag.NumActiveMenus <= 1)
        {
            <div class="row">
                <div class="span2 offset3">
            <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
                    data-key="@ViewBag.StripeKey"
                    data-amount="700"
                    data-description="Monthly Subscription"
                    data-name="Menu Dart"
                    data-image="@Url.Content("~/Content/images/lock_48.png")">
            </script> 
            </div>     
            <div class="span2">      
          <a class="btn" href="@Url.Action("Index", "Dashboard")"><i class="icon-remove"></i> Cancel</a>
              </div>
            </div>
            <br />
        }
        else
        {
            <center>
            <button type="submit" id="activate_btn" value="Activate" class="btn btn-large btn-primary" data-loading-text="Activating..."><i class="icon-ok icon-white"></i> Activate</button>
            <a class="btn btn-large" href="@Url.Action("Index", "Dashboard")"><i class="icon-remove"></i> Cancel</a>
            </center>
        }
    </div>
}


@Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
<ul class="pull-right">
    <a href="http://www.stripe.com" target="_blank"><img src="@Url.Content("~/Content/images/lock_32.png")"><img src="@Url.Content("~/Content/images/stripe.png")"></a>
</ul>
</div> <!-- hero -->

<script type="text/javascript">
    //stateful buttons
    $(document).ready(function () {
        $('#activate_btn').button();

        $('#activate_btn').click(function () {
            $(this).button('loading');
        });
    });
</script>