@model MenuDart.Models.Menu

@{
    ViewBag.Title = "Deactivate";
}

<div class="hero-unit">
<center><h1>Deactivate<br />@Model.Name?</h1></center>
<br>
<div class="row">
    <div class="span7 offset2">
        <ul class="unstyled dialogHeader">
            <li><h3>Are you sure you want to deactivate?</h3></li>
            <li>If you continue, it will <b>no longer be viewable</b> by the public.</li>
            <br />
            @if ((ViewBag.TrialWarning == null) || (!ViewBag.TrialWarning))
            {
                if (ViewBag.NumActiveMenus == 0)
                {
                <text>
                <li>By continuing, your current billing agreement <b>will be cancelled</b> and you will no longer be charged by
                Menu Dart (since you will not have any more active menus).</li>
                </text>
                }
                else
                {
                <text>
                <li>By continuing, you will be prompted with a <b>modified billing agreement</b> for your remaining @ViewBag.NumActiveMenus active menu(s) at $@ViewBag.NewTotal a month.</li>
                </text>
                }
            }
        </ul>
    </div>
</div>

@using (Html.BeginForm())
{
    if ((ViewBag.TrialWarning != null) && (ViewBag.TrialWarning))
    {
        @Html.Hidden("ActiveCount", (object)0)
        @Html.Hidden("Email", (object)"none")            
    }
    else
    {
        @Html.Hidden("ActiveCount", (object)ViewBag.NumActiveMenus)
        @Html.Hidden("Email", (object)ViewBag.Email)
    }

    <center>
    <div class="form-actions">
        <button id="deactivate_btn" type="submit" data-loading-text="Deactivating..." value="Deactivate" class="btn btn-large btn-primary"><i class="icon-ok icon-white"></i> Deactivate</button>
        <a class="btn btn-large" href="@Url.Action("Index", "Dashboard")"><i class="icon-remove"></i> Cancel</a>
    </div>
    </center>
}

<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>
</div> <!-- hero -->

<script type="text/javascript">
    //stateful buttons
    $(document).ready(function(){
      $('#deactivate_btn').button();

      $('#deactivate_btn').click(function () {
        $(this).button('loading');
      });
    });
</script>