@model IEnumerable<MenuDart.Models.Template>

@{
    ViewBag.Title = "Templates";
}

<h2>Templates (@Model.Count())</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table>
<table class="table table-bordered table-striped table-hover">
<thead>
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</tbody>
</table>
<p>
@Html.ActionLink("Back to Admin", "James", "Home")
