@model MenuDart.Models.ActivateViewModel

@{
    ViewBag.Title = "Menu Activated";
}

<h2>@Model.Name's Menu is Activated!
<p>It's located At:<br />@Html.ActionLink(@Model.Url, "ViewActiveMenu", "Menu", new { id = @Model.MenuId, url = @Model.Url }, null)
<p>
@Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</p>
</h2>
