@model MenuDart.Models.MenuEditorThemeViewModel
           
@{
    ViewBag.Title = "Edit Theme";
    int i = 0;
}

<div class="hero-unit">
<center>
<h1>Edit @Model.Name.</h1>
<br>
@Html.Partial("_EditorMenubar")
</center>
<br />

@using (Html.BeginForm("Edit2", "Menu", FormMethod.Post, new { @class = "form-horizontal", @name = "editor_form" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="control-group">
            <label class="control-label">@Html.Label("Theme")</label>
            <div class="controls">
                @foreach (string theme in Model.Themes)
                {
                    i++;
                        
                    if (theme == Model.CurrentTheme)
                    {
                        //set button as selected
                        <label class="radio inline themeName">@Html.RadioButton("Template", @theme, true, new { @class = "input-xlarge" })@theme<br><img src="@Url.Content("~/Content/images/themes/" + @theme + ".png")" class="img-polaroid selectedImage"></label>
                    }
                    else
                    {
                        <label class="radio inline themeName">@Html.RadioButton("Template", @theme, new { @class = "input-xlarge" })@theme<br><img src="@Url.Content("~/Content/images/themes/" + @theme + ".png")" class="img-polaroid imageSpacing"></label>                 
                    }

                    //3 per row
                    if ((i % 3) == 0)
                    {
                        <text>
                        <br><br>
                        </text>
                    }
                }
            </div>
        </div> 

        <div class="form-actions">
            <button type="submit" value="Save" name="save_btn" class="btn btn-large btn-primary" disabled><i class="icon-ok icon-white"></i> Save</button>
            <a class="btn btn-large disabled" id="cancel_btn" href="javascript: void(0)"><i class="icon-remove"></i> Cancel</a>
            <ul class="pull-right">
                <a class="btn btn-large btn-warning" href="@Url.Action("PreviewMenu", "Menu", new { id = Model.MenuId, useSampleLogo = false }, null)"><i class="icon-picture icon-white"></i> Preview</a>
                @if (Model.ChangesUnpublished)
                {
                    <a class="btn btn-large btn-success" href="@Url.Action("Publish", "Menu", new { ReturnUrl = "/Edit/" + Model.MenuId, id = Model.MenuId }, null)"><i class="icon-arrow-up icon-white"></i> Publish</a>
                }
                else
                {
                    <a class="btn btn-large btn-success disabled" href="javascript: void(0)"><i class="icon-arrow-up icon-white"></i> Publish</a>        
                }
            </ul>

            <script type="text/javascript">
                $(document).ready(function () {
                        $('.input-xlarge').change(function () {
                        //else enable save and cancel buttons
                        document.editor_form.save_btn.disabled = false;
                        document.getElementById("cancel_btn").className = document.getElementById("cancel_btn").className.replace(/(?:^|\s)disabled(?!\S)/g, '');
                        document.getElementById("cancel_btn").href = "";});
                });
            </script>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>

</div> <!-- hero -->

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
