@model MenuDart.Models.MenuEditorLocationViewModel

@{
    ViewBag.Title = "Edit Location";
}

<div class="hero-unit">
<center>
<h1>Edit @Model.Name.</h1>
<br>
@Html.Partial("_EditorMenubar")
</center>
<br />

@using (Html.BeginForm("Edit5", "Menu", FormMethod.Post, new { @class = "form-horizontal", @name = "editor_form" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.MenuId)

        @for (int i = 0; i < Model.Locations.Count; i++)
        {
            if (Model.Locations.Count > 1)
            {
                <h4>Location @(i + 1):</h4>
            }
          
            @Html.HiddenFor(model => model.Locations[i].Hours)
            @Html.HiddenFor(model => model.Locations[i].Phone)
            @Html.HiddenFor(model => model.Locations[i].Email)
            @Html.HiddenFor(model => model.Locations[i].Facebook)
            @Html.HiddenFor(model => model.Locations[i].Twitter)
            @Html.HiddenFor(model => model.Locations[i].Yelp)
            @Html.HiddenFor(model => model.Locations[i].MapImgUrl)
            @Html.HiddenFor(model => model.Locations[i].MapLink)

            <div class="control-group">
                <label class="control-label">@Html.LabelFor(model => model.Locations[i].Title, "Name of location")</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.Locations[i].Title, new { @class = "input-xlarge", style = "width: 300px;" })
                    @Html.ValidationMessageFor(model => model.Locations[i].Title)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@Html.LabelFor(model => model.Locations[i].Address, "Address")</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.Locations[i].Address, new { @class = "input-xlarge", style = "width: 300px;" })
                    @Html.ValidationMessageFor(model => model.Locations[i].Address)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@Html.LabelFor(model => model.Locations[i].City, "City")</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.Locations[i].City, new { @class = "input-xlarge", style = "width: 300px;" })
                    @Html.ValidationMessageFor(model => model.Locations[i].City)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@Html.LabelFor(model => model.Locations[i].State, "State")</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.Locations[i].State, new { @class = "input-xlarge", style = "width: 30px;" })
                    @Html.ValidationMessageFor(model => model.Locations[i].State)
                </div>
            </div>                        
            <div class="control-group">
                <label class="control-label">@Html.LabelFor(model => model.Locations[i].Zip, "Zip")</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.Locations[i].Zip, new { @class = "input-xlarge", style = "width: 50px;" })
                    @Html.ValidationMessageFor(model => model.Locations[i].Zip)
                </div>
            </div>         
        }

        <div class="form-actions">
            @Html.Partial("_EditorButtons")
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>

</div> <!-- hero -->

@Html.Partial("_FormValidation")