@model MenuDart.Models.MenuEditorBasicViewModel

@{
    ViewBag.Title = "Edit Basic Info";
}

<div class="hero-unit">
<center>
<h1>Edit @Model.Name.</h1>
<br>
@Html.Partial("_EditorMenubar")
</center>
<br>
@using (Html.BeginForm("Edit", "Menu", FormMethod.Post, new { @class = "form-horizontal", @name = "editor_form" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="control-group">
            <label class="control-label">@Html.LabelFor(model => model.Name, "Restaurant name")</label>
            <div class="controls">
                @Html.TextBoxFor(model => model.Name, new { @class = "input-xlarge", style = "width: 300px;" })
                @Html.ValidationMessageFor(model => model.Name)
                * Required
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">@Html.LabelFor(model => model.City, "City")</label>
            <div class="controls">
                @Html.TextBoxFor(model => model.City, new { @class = "input-xlarge", style = "width: 300px;" })
                @Html.ValidationMessageFor(model => model.City)
                * Required
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">@Html.LabelFor(model => model.Phone, "Phone number")</label>
            <div class="controls">
                @Html.TextBoxFor(model => model.Phone, new { @class = "input-xlarge", style = "width: 300px;" })
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">@Html.LabelFor(model => model.Website, "Website")</label>
            <div class="controls">
                <div class="input-prepend">
                <span class="add-on">http://</span>
                    @Html.TextBoxFor(model => model.Website, new { @class = "input-xlarge", style = "width: 500px;" })
                    @Html.ValidationMessageFor(model => model.Website)
                </div>
            </div>
        </div>
        <div class="form-actions">
            @Html.Partial("_EditorButtons")
        </div>
    </fieldset>   
}

<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>

</div> <!-- hero -->

@Html.Partial("_FormValidation")