@{
    ViewBag.Title = "Edit Logo";
}

<div class="hero-unit">
<center>
<h1>Edit @Model.Name.</h1>
<br>
@Html.Partial("_EditorMenubar")
</center>
<br />

@using (Html.BeginForm("Edit4", "Menu", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <center>
        @if (string.IsNullOrEmpty(Model.LogoUrl))
        {
            <text><b>No logo currently specified.</b></text>
        }
        else
        {
            <img src="@Model.LogoUrl" />          
        }

        <br />
        <br />
   
        <link href="@Url.Content("~/Content/fileuploader.css")" rel="stylesheet" type="text/css">
        <script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>

	        <div id="file-uploader">		
		        <noscript>			
			        <p>Please enable JavaScript on your browser to be able to upload your business's logo.</p>
			        <!-- or put a simple form for upload here -->
		        </noscript>         
	        </div>

        @if (Model.Staging)
        {
            <text>
            <script type="text/javascript">
                jQuery(function () {
                    var uploader = new qq.FileUploader({
                        element: document.getElementById('file-uploader'),
                        action: '/staging/Menu/LogoUpload',
                        allowedExtensions: ['jpg', 'jpeg', 'png', 'gif'],
                        sizeLimit: 600000, // max size
                        multiple: false,
                        debug: true,
                        params: {
                            menuDartUrl: '@Model.MenuDartUrl',
                            owner: '@Model.Owner',
                            id: '@Model.MenuId'
                        },
                        onComplete: function (id, fileName, responseJSON) {
                            window.location = '/staging/Menu/Edit4/' + @Model.MenuId;
                        }
                    });
                });     
            </script>
            </text>
        }
        else
        {
            <text>
            <script type="text/javascript">
                jQuery(function () {
                    var uploader = new qq.FileUploader({
                        element: document.getElementById('file-uploader'),
                        action: '/Menu/LogoUpload',
                        allowedExtensions: ['jpg', 'jpeg', 'png', 'gif'],
                        sizeLimit: 600000, // max size
                        multiple: false,
                        debug: true,
                        params: {
                            menuDartUrl: '@Model.MenuDartUrl',
                            owner: '@Model.Owner',
                            id: '@Model.MenuId'
                        },
                        onComplete: function (id, fileName, responseJSON) {
                            window.location = '/Menu/Edit4/' + @Model.MenuId;
                        }
                    });
                });     
            </script>
            </text>            
        }

        @if (!string.IsNullOrEmpty(Model.LogoUrl))
        {
            @Html.ActionLink("Remove Logo", "LogoRemove", "Menu", new { ReturnUrl = "Edit4", id = @Model.MenuId }, null)
        }
        </center>
        <div class="form-actions">
            <ul class="pull-right">
                <a class="btn btn-large btn-warning" href="@Url.Action("PreviewMenu", "Menu", new { id = Model.MenuId, useSampleLogo = false }, null)"><i class="icon-picture icon-white"></i> Preview Changes</a>
                @if (Model.ChangesUnpublished)
                {
                    <a class="btn btn-large btn-success" href="@Url.Action("Publish", "Menu", new { ReturnUrl = "/Edit/" + Model.MenuId, id = Model.MenuId }, null)"><i class="icon-arrow-up icon-white"></i> Publish</a>
                }
                else
                {
                    <a class="btn btn-large btn-success disabled" href="javascript: void(0)"><i class="icon-arrow-up icon-white"></i> Publish</a>        
                }
            </ul>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>

</div> <!-- hero -->