@{
    ViewBag.Title = "Edit Logo";
}

<div class="hero-unit">
<center>
<h1>Edit @Model.Name.</h1>
<br>
@Html.Partial("_EditorMenubar")
</center>
<br />

@using (Html.BeginForm("Edit4", "Menu", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <center>
        @if (string.IsNullOrEmpty(Model.LogoUrl))
        {
            <text><b>No logo currently specified.</b></text>
        }
        else
        {
            <img src="@Model.LogoUrl" />          
        }

        <br />
        <br />
   
        <link href="@Url.Content("~/Content/fileuploader.css")" rel="stylesheet" type="text/css">
        <script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>

	        <div id="file-uploader">		
		        <noscript>			
			        <p>Please enable JavaScript on your browser to be able to upload your business's logo.</p>
			        <!-- or put a simple form for upload here -->
		        </noscript>         
	        </div>

            <script type="text/javascript">
                jQuery(function () {
                    var uploader = new qq.FileUploader({
                        element: document.getElementById('file-uploader'),
                        action: '/Menu/LogoUpload',
                        allowedExtensions: ['jpg', 'jpeg', 'png', 'gif'],
                        sizeLimit: 600000, // max size
                        multiple: false,
                        debug: true,
                        params: {
                            menuDartUrl: '@Model.MenuDartUrl'
                        },
                        onComplete: function (id, fileName, responseJSON) {
                            window.location = '/Menu/Edit4/' + @Model.MenuId;
                        }
                    });
                });     

            </script>

        @if (!string.IsNullOrEmpty(Model.LogoUrl))
        {
            @Html.ActionLink("Remove Logo", "LogoRemove", "Menu", new { ReturnUrl = "Edit4", id = @Model.MenuId }, null)
        }
        </center>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>

</div> <!-- hero -->