@model MenuDart.Models.MenuEditorAboutViewModel

@{
    ViewBag.Title = "Edit About";
}

<div class="hero-unit">
<center>
<h1>Edit @Model.Name.</h1>
<br>
@Html.Partial("_EditorMenubar")
</center>
<br />
@using (Html.BeginForm("Edit3", "Menu", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.MenuId)

        <div class="control-group">
            <label class="control-label">@Html.LabelFor(model => model.AboutTitle, "Title")</label>
            <div class="controls">
            @Html.TextAreaFor(model => model.AboutTitle, new { @class = "input-xlarge", style = "width: 300px; height: 50px;" })
            @Html.ValidationMessageFor(model => model.AboutTitle)
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">@Html.LabelFor(model => model.AboutText, "Description")</label>
            <div class="controls">
            @Html.TextAreaFor(model => model.AboutText, new { @class = "input-xlarge", style = "width: 300px; height: 250px;" })
            @Html.ValidationMessageFor(model => model.AboutText)
            </div>
        </div>  

        <div class="form-actions">
            <button type="submit" value="Save" class="btn btn-large btn-primary"><i class="icon-ok icon-white"></i> Save</button>
            <a class="btn btn-primary btn-large" href="@Url.Action("Index", "Dashboard")"><i class="icon-remove icon-white"></i> Cancel</a>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>

</div> <!-- hero -->

@Html.Partial("_FormValidation")
