@model MenuDart.Models.MenuEditorThemeViewModel
           
@{
    ViewBag.Title = "Edit Theme";
}

<h2>Edit @Model.Name</h2>
<h3>
@Html.ActionLink("Basic Info", "Edit", "Menu", new { id = Model.MenuId }, null) | 
@Html.ActionLink("Theme", "Edit2", "Menu", new { id = Model.MenuId }, null) | 
@Html.ActionLink("About", "Edit3", "Menu", new { id = Model.MenuId }, null) | 
@Html.ActionLink("Logo", "Edit4", "Menu", new { id = Model.MenuId }, null) | 
@Html.ActionLink("Location", "Edit5", "Menu", new { id = Model.MenuId }, null) | 
@Html.ActionLink("Hours", "Edit6", "Menu", new { id = Model.MenuId }, null) | 
@Html.ActionLink("Contact", "Edit7", "Menu", new { id = Model.MenuId }, null) | 
@Html.ActionLink("Menu Items", "Details", "MenuTree", new { id = Model.MenuId, parent = 0, idx = -1, source = "MenuEditor", ReturnUrl = "/Edit2/" + Model.MenuId }, null) |
@Html.ActionLink("Preview", "PreviewMenu", "Menu", new { id = Model.MenuId }, null) |
@Html.ActionLink("Publish", "Publish", "Menu", new { ReturnUrl = "/Edit2/" + Model.MenuId, id = Model.MenuId }, null)
</h3>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Theme</legend>

        <div class="editor-field">
            @Html.DropDownList("Template", ViewData["templateList"] as SelectList)
        </div>
        <p>
            <input type="submit" value="Save" />
            @Html.ActionLink("Cancel", "Index", "Dashboard")
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>