@model MenuDart.Models.MenuEditorLocationViewModel

@{
    ViewBag.Title = "Edit Hours";
}

<div class="hero-unit">
<center>
<h1>Edit @Model.Name.</h1>
<br>
@Html.Partial("_EditorMenubar")
</center>
<br />

@using (Html.BeginForm("Edit6", "Menu", FormMethod.Post, new { @class = "form-horizontal", @name = "editor_form" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.MenuId)

        @for (int i = 0; i < Model.Locations.Count; i++)
        { 
            if (Model.Locations.Count > 1)
            {
                <h4>Location @(i + 1):</h4>
            }
          
            @Html.HiddenFor(model => model.Locations[i].Phone)
            @Html.HiddenFor(model => model.Locations[i].Email)
            @Html.HiddenFor(model => model.Locations[i].Facebook)
            @Html.HiddenFor(model => model.Locations[i].Twitter)
            @Html.HiddenFor(model => model.Locations[i].Yelp)
            @Html.HiddenFor(model => model.Locations[i].MapImgUrl)
            @Html.HiddenFor(model => model.Locations[i].MapLink)        
            @Html.HiddenFor(model => model.Locations[i].Title)
            @Html.HiddenFor(model => model.Locations[i].Address)
            @Html.HiddenFor(model => model.Locations[i].City)
            @Html.HiddenFor(model => model.Locations[i].State)
            @Html.HiddenFor(model => model.Locations[i].Zip)
             
            <div class="control-group">
                <label class="control-label">@Html.LabelFor(model => model.Locations[i].Hours, "Business hours")</label>
                <div class="controls">
                    <div class="input-prepend">
                    <span class="add-on"><i class="icon-time"></i></span>
                    @Html.TextAreaFor(model => model.Locations[i].Hours, new { @class = "input-xlarge", style = "width: 300px; height: 250px;" })
                    @Html.ValidationMessageFor(model => model.Locations[i].Hours)
                    </div>
                </div>
            </div>
        }

        <div class="form-actions">
            @Html.Partial("_EditorButtons")
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>

</div> <!-- hero -->

@Html.Partial("_FormValidation")