@model IEnumerable<MenuDart.Models.Menu>

@{
    ViewBag.Title = "Menus";
}

<h2>Menus (@Model.Count())</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            City
        </th>
        <th>
            Active
        </th>
        <th>
            MenuDartUrl
        </th>
        <th>
            Owner
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @if (@item.Active) {
            <text>Yes</text>
            }
            else
            {
               <text>No</text> 
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MenuDartUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            <a href="@ViewBag.UrlPath@item.MenuDartUrl/index.html" target="_blank">View</a> |
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }) |
            @Html.ActionLink("Activate", "Activate", new { id = item.ID })
        </td>
    </tr>
}

</table>
