@{
    ViewBag.Title = "MenuDart. Easy Mobile Menus. Menu Builder.";
}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <center><h1>Menu Builder.</h1>
        <br>
        <h2>Hooray for instant gratification!</h2>
        <p>
        You've just created a mobile-friendly restaurant menu for @ViewBag.Name.
        <p>
        It's @Html.ActionLink("available to preview here.", "PreviewMenu", "Menu", new { id = ViewBag.MenuId, useSampleLogo = true }, new { @target = "_blank" })
        <br>
        (Using a smartphone or pocket mobile device, surf to this site to see it in its full mobile-glory.)
        <p>
        You can see how it looks, but some of your info still needs to be filled out (mainly your menu items!)
        <br>
        So when you're ready, let's add more info and customize it a bit!
        <p>
        <p>
        @if (Request.IsAuthenticated)
        {
            <a class="btn btn-primary btn-large" href="@Url.Action("MenuBuilder3", "Menu", new { id = ViewBag.MenuId })">Select a Template <i class="icon-chevron-right icon-white"></i></a>
        }
        else
        {
            <a class="btn btn-primary btn-large" href="@Url.Action("Register", "Account", new { returnAction = "MenuBuilder3", returnController = "Menu", menuID = ViewBag.MenuId }, null)">Create Free Account <i class="icon-chevron-right icon-white"></i></a>
            <br />
            <br />
            @Html.ActionLink("or Log In with existing account", "LogOn", "Account", new { returnAction = "MenuBuilder3", returnController = "Menu", menuID = ViewBag.MenuId }, null)
        }
        </center>
      </div> <!-- hero -->