@model List<MenuDart.Models.Location>
           
@{
    ViewBag.Title = "MenuDart. Easy Mobile Menus. Menu Builder.";
}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <center><h1>Menu Builder.</h1></center>
        <br>
        <center>Now fill out contact info and social media:</center>
        <br>
        <p>
        @using (Html.BeginForm("MenuBuilder8", "Menu", FormMethod.Post, new { @class = "form-horizontal" }))
        {
          @Html.ValidationSummary(true)
            <fieldset>
            @for (int i = 0; i < Model.Count; i++)
            {
              <h3>Location @(i + 1):</h3>
              <div class="control-group">
                <label class="control-label">@Html.LabelFor(model => Model[i].Phone, "Phone")</label>
                <div class="controls">
                    @Html.TextBoxFor(model => Model[i].Phone, new { @class = "input-xlarge", style = "width: 300px;" })
                    @Html.ValidationMessageFor(model => Model[i].Phone)
                  <p class="help-block"></p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">@Html.LabelFor(model => Model[i].Email, "Email")</label>
                <div class="controls">
                    @Html.TextBoxFor(model => Model[i].Email, new { @class = "input-xlarge", style = "width: 300px;" })
                    @Html.ValidationMessageFor(model => Model[i].Email)
                  <p class="help-block"></p>
                </div>
              </div>   
              <div class="control-group">
                <label class="control-label">@Html.LabelFor(model => Model[i].Yelp, "Yelp")</label>
                <div class="controls">
                    @Html.TextBoxFor(model => Model[i].Yelp, new { @class = "input-xlarge", style = "width: 500px;" })
                    @Html.ValidationMessageFor(model => Model[i].Yelp)
                  <p class="help-block"></p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">@Html.LabelFor(model => Model[i].Facebook, "Facebook")</label>
                <div class="controls">
                    @Html.TextBoxFor(model => Model[i].Facebook, new { @class = "input-xlarge", style = "width: 500px;" })
                    @Html.ValidationMessageFor(model => Model[i].Facebook)
                  <p class="help-block"></p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">@Html.LabelFor(model => Model[i].Twitter, "Twitter")</label>
                <div class="controls">
                    @Html.TextBoxFor(model => Model[i].Twitter, new { @class = "input-xlarge", style = "width: 500px;" })
                    @Html.ValidationMessageFor(model => Model[i].Twitter)
                  <p class="help-block"></p>
                </div>
              </div>
            }            
            <div class="form-actions">
              <button type="submit" value="Next" class="btn btn-large btn-primary">Next <i class="icon-chevron-right icon-white"></i></button>
            </div>                        
            </fieldset>
        }
        </p>
            There's light at the end of the tunnel!
            <div class="progress progress-striped">
              <div class="bar" style="width: 90%;">
              </div>
            </div>
      </div> <!-- hero -->

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>