@model List<MenuDart.Models.Location>
           
@{
    ViewBag.Title = "MenuDart. Easy Mobile Menus. Menu Builder.";
}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <center><h1>Menu Builder.</h1></center>
        <br>
        <center><h4>Now fill out contact and social media info:</h4></center>
        <br>
        <p>
        @using (Html.BeginForm("MenuBuilder8", "Menu", FormMethod.Post, new { @class = "form-horizontal" }))
        {
          @Html.ValidationSummary(true)
            <fieldset>
            @for (int i = 0; i < Model.Count; i++)
            {
                if (Model.Count > 1)
                {
                    <h4>Location @(i + 1):</h4>
                }
              <div class="control-group">
                <label class="control-label">@Html.LabelFor(model => Model[i].Phone, "Phone")</label>
                <div class="controls">
                    @Html.TextBoxFor(model => Model[i].Phone, new { @class = "input-xlarge", style = "width: 300px;" })
                    @Html.ValidationMessageFor(model => Model[i].Phone)
                  <p class="help-block"></p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">@Html.LabelFor(model => Model[i].Email, "Email")</label>
                <div class="controls">
                    <div class="input-prepend">
                    <span class="add-on"><i class="icon-envelope"></i></span>
                        @Html.TextBoxFor(model => Model[i].Email, new { @class = "input-xlarge", style = "width: 300px;" })
                        @Html.ValidationMessageFor(model => Model[i].Email)
                    </div>
                  <p class="help-block"></p>
                </div>
              </div>   
              <div class="control-group">
                <label class="control-label">@Html.LabelFor(model => Model[i].Yelp, "Yelp page")</label>
                <div class="controls">
                    <div class="input-prepend">
                    <span class="add-on">http://</span>
                        @Html.TextBoxFor(model => Model[i].Yelp, new { @class = "input-xlarge", style = "width: 500px;" })
                        @Html.ValidationMessageFor(model => Model[i].Yelp)
                    </div>
                  <p class="help-block"></p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">@Html.LabelFor(model => Model[i].Facebook, "Facebook page")</label>
                <div class="controls">
                    <div class="input-prepend">
                    <span class="add-on">http://</span>
                        @Html.TextBoxFor(model => Model[i].Facebook, new { @class = "input-xlarge", style = "width: 500px;" })
                        @Html.ValidationMessageFor(model => Model[i].Facebook)
                    </div>
                  <p class="help-block"></p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">@Html.LabelFor(model => Model[i].Twitter, "Twitter page")</label>
                <div class="controls">
                    <div class="input-prepend">
                    <span class="add-on">@@</span>
                        @Html.TextBoxFor(model => Model[i].Twitter, new { @class = "input-xlarge", style = "width: 500px;" })
                        @Html.ValidationMessageFor(model => Model[i].Twitter)
                    </div>
                  <p class="help-block"></p>
                </div>
              </div>
            }            
            <div class="form-actions">
              <button type="submit" value="Next" class="btn btn-large btn-primary">Next <i class="icon-chevron-right icon-white"></i></button>
            </div>                        
            </fieldset>
        }
        </p>
            <div class="progress progress-striped active">
              <div class="bar" style="width: 90%;">
              </div>
            </div>
      </div> <!-- hero -->

      @Html.Partial("_FormValidation")