@model MenuDart.Models.MenuBuilderViewModel

@{
    ViewBag.Title = "Menu Dart. Easy Mobile Menus. Menu Builder.";
}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <center><h1>Make Your Menu.</h1>
        <span class="dialogHeader"><h4>It's simple & quick. Just fill out this page to see a preview!</h4></span>
        </center>
        <br><br />
        @using (Html.BeginForm("MenuBuilder", "Menu", FormMethod.Post, new { @class = "form-horizontal", @name = "editor_form" }))
        {
            @Html.ValidationSummary(true)
                    <fieldset>
                      @Html.HiddenFor(model => model.CurrentMenu.ID)
                      <div class="control-group">
                        <label class="control-label">@Html.LabelFor(model => model.CurrentMenu.Name, "Restaurant name")</label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.CurrentMenu.Name, new { @class = "input-xlarge", style = "width: 300px;" })
                            @Html.ValidationMessageFor(model => model.CurrentMenu.Name)
                            <span class="red">*</span> Required
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">@Html.LabelFor(model => model.CurrentMenu.City, "City")</label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.CurrentMenu.City, new { @class = "input-xlarge", style = "width: 300px;" })
                            @Html.ValidationMessageFor(model => model.CurrentMenu.City)
                            <span class="red">*</span> Required
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">@Html.LabelFor(model => model.CurrentMenu.Phone, "Phone number")</label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.CurrentMenu.Phone, new { @class = "input-xlarge", style = "width: 300px;" })
                            @Html.ValidationMessageFor(model => model.CurrentMenu.Phone)
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">@Html.LabelFor(model => model.CurrentMenu.Website, "Website")</label>
                        <div class="controls">
                            <div class="input-prepend">
                            <span class="add-on">http://</span>
                                @Html.TextBoxFor(model => model.CurrentMenu.Website, new { @class = "input-xlarge", style = "width: 255px;" })
                                @Html.ValidationMessageFor(model => model.CurrentMenu.Website)
                            </div>
                        </div>
                      </div>                
                    <div class="form-actions">
                      <button id="preview_btn" type="submit" value="Create" class="btn btn-large btn-primary" data-loading-text="Previewing...">Preview My Menu!</button>
                    </div>            
                    </fieldset>
            }
        </p>
      </div> <!-- hero -->

    <script type="text/javascript">
        //stateful buttons
        $(document).ready(function () {
            $('#preview_btn').button();

            $('#preview_btn').click(function () {
                if ($('form[name=editor_form]').valid()) {
                    $(this).button('loading');
                }
            });
        });
    </script>

      @Html.Partial("_FormValidation")