@model MenuDart.Models.Menu
           
@{
    ViewBag.Title = "MenuBuilder4";
}

<h2>"About" Page: Now fill out some information about your restaurant.</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Step 3</legend>

        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.City)

        <div class="editor-label">
            @Html.LabelFor(model => model.AboutTitle, "Title")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.AboutTitle, new { style = "width: 300px; height: 50px;" })
            @Html.ValidationMessageFor(model => model.AboutTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AboutText, "Text")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.AboutText, new { style = "width: 300px; height: 250px;" })
            @Html.ValidationMessageFor(model => model.AboutText)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
