@model MenuDart.Models.MenuBuilderViewModel

@{
    ViewBag.Title = "MenuDart. Easy Mobile Menus. Menu Builder.";
}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <center><h1>Menu Builder.</h1></center>
        <br>
        <center><h4>Building a mobile menu is easy. Get started now!</h4></center>
        <br>
        <p>
        @using (Html.BeginForm("MenuBuilder", "Menu", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true)
                    <fieldset>
                      @Html.HiddenFor(model => model.CurrentMenu.ID)
                      <div class="control-group">
                        <label class="control-label">@Html.LabelFor(model => model.CurrentMenu.Name, "Restaurant name *")</label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.CurrentMenu.Name, new { @class = "input-xlarge", style = "width: 300px;" })
                            @Html.ValidationMessageFor(model => model.CurrentMenu.Name)
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">@Html.LabelFor(model => model.CurrentMenu.City, "City *")</label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.CurrentMenu.City, new { @class = "input-xlarge", style = "width: 300px;" })
                            @Html.ValidationMessageFor(model => model.CurrentMenu.City)
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">@Html.LabelFor(model => model.CurrentMenu.Phone, "Phone number")</label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.CurrentMenu.Phone, new { @class = "input-xlarge", style = "width: 300px;" })
                            @Html.ValidationMessageFor(model => model.CurrentMenu.Phone)
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">@Html.LabelFor(model => model.CurrentMenu.Website, "Website")</label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.CurrentMenu.Website, new { @class = "input-xlarge", style = "width: 500px;" })
                            @Html.ValidationMessageFor(model => model.CurrentMenu.Website)
                            <p class="help-block">* Required</p>
                        </div>
                      </div>                
                    <div class="form-actions">
                      <button type="submit" value="Create" class="btn btn-large btn-primary">Create!</button>
                    </div>            
                    </fieldset>
            }
        </p>
      </div> <!-- hero -->

      @Html.Partial("_FormValidation")