@{
    ViewBag.Title = "MenuDart. Easy Mobile Menus. Menu Builder.";
}

<div class="hero-unit">
<center>
<h1>Here's a First Look.</h1>
<br />
<table cellpadding="0" border="0" cellspacing="0" class="iphoneTable">
  <tr>
    <td class="iphone"><img src="../../../content/images/slice_0_0.png" style="width: 28px;  height: 132px;"></td>
    <td class="iphone"><img src="../../../content/images/slice_0_1.png" style="width: 320px;  height: 132px;"></td>
    <td class="iphone"><img src="../../../content/images/slice_0_2.png" style="width: 29px;  height: 132px;"></td>
</tr>

  <tr>
    <td class="iphone"><img src="../../../content/images/slice_1_0.png" style="width: 28px;  height: 480px;"></td>
    <td class="iphone iframe">
        <iframe src="@ViewBag.Url" width="320" height="480" frameborder="0" scrolling="auto">
        <p>Your browser does not support this preview function. Please click here to try a full page view.</p>
        </iframe>
    </td>
    <td class="iphone"><img src="../../../content/images/slice_1_2.png" style="width: 29px;  height: 480px;"></td>
</tr>

  <tr>
    <td class="iphone"><img src="../../../content/images/slice_2_0.png" style="width: 28px;  height: 131px;"></td>
    <td class="iphone"><img src="../../../content/images/slice_2_1.png" style="width: 320px;  height: 131px;"></td>
    <td class="iphone"><img src="../../../content/images/slice_2_2.png" style="width: 29px;  height: 131px;"></td>
</tr>
</table>

<br />
<div class="greytext">
<h4>
<p>
This is your menu with sample menu items. But, it's just the first step<br />on your way to creating a mobile-friendly restaurant menu for @ViewBag.Name!
<p>
If you have a smartphone handy, you can try it on your device's browser<br />to get a sense of the real mobile experience.
<p>
Here's a temporary link:
<br />
@ViewBag.Url
<br><br />
</h4>
<h3>Ready to Customize It?</h3>
</div>
<p>
<p>
@if (Request.IsAuthenticated)
{
    <a class="btn btn-primary btn-large" id="template_btn" href="@Url.Action("MenuBuilder3", "Menu", new { id = ViewBag.MenuId })" data-loading-text="Generating Templates...">Select a Template <i class="icon-chevron-right icon-white"></i></a>
}
else
{
    <a class="btn btn-primary btn-large" href="@Url.Action("Register", "Account", new { returnAction = "MenuBuilder3", returnController = "Menu", menuID = ViewBag.MenuId }, null)">Create Your Account <i class="icon-chevron-right icon-white"></i></a>
    <br />
    <br />
    @Html.ActionLink("or Log In with an existing account", "LogOn", "Account", new { returnAction = "MenuBuilder3", returnController = "Menu", menuID = ViewBag.MenuId }, null)
}
</center>

<script type="text/javascript">
    document.getElementById(FrameID).contentDocument.location.reload(true);
</script>

</div> <!-- hero -->

<script type="text/javascript">
    //stateful buttons
    $(document).ready(function () {
        $('#template_btn').button();

        $('#template_btn').click(function () {
            $(this).button('loading');
        });
    });
</script>
