@{
    ViewBag.Title = "MenuBuilder2";
}

<h2>Hooray for instant gratification!</h2>
<h3>
You've just created a mobile-friendly restaurant menu for @ViewBag.Name.<p>
It's already available at: @Html.ActionLink((string)ViewBag.Url, "Preview", "Menu", new { id = ViewBag.MenuId, url = @ViewBag.Url }, null)
<br />
(Just use a smartphone or pocket mobile device to surf to this site to check it out in its full mobile-glory.)
<p>
You can see how useful it looks, but some of your info is still missing (mainly your menu items!)
<br />
So when you're ready, let's add more information and customize it a bit...
@if (Request.IsAuthenticated)
{
@Html.ActionLink("Continue and Select a Template", "MenuBuilder3", "Menu", new { id = ViewBag.MenuId }, null)
}
else
{
@Html.ActionLink("First, Log On/Create Account", "LogOn", "Account", new { ReturnUrl = "/Menu/MenuBuilder3/" + ViewBag.MenuId }, null)
}
</h3>