@{
    ViewBag.Title = "Preview Menu";
}

<div class="hero-unit">
<center>
<h1>Preview.</h1>
<br />
<table cellpadding="0" border="0" cellspacing="0" class="iphoneTable">
  <tr>
    <td class="iphone"><img src="../../../content/images/slice_0_0.png" style="width: 28px;  height: 132px;"></td>
    <td class="iphone"><img src="../../../content/images/slice_0_1.png" style="width: 320px;  height: 132px;"></td>
    <td class="iphone"><img src="../../../content/images/slice_0_2.png" style="width: 29px;  height: 132px;"></td>
</tr>

  <tr>
    <td class="iphone"><img src="../../../content/images/slice_1_0.png" style="width: 28px;  height: 480px;"></td>
    <td class="iphone iframe">
        <iframe src="@ViewBag.Url" id="myiframe" width="320" height="480" frameborder="0" scrolling="auto" onload="reloadOnce(this)">
        <p>Your browser does not support this preview function. Please click here to try a full page view.</p>
        </iframe>
    </td>
    <td class="iphone"><img src="../../../content/images/slice_1_2.png" style="width: 29px;  height: 480px;"></td>
</tr>

  <tr>
    <td class="iphone"><img src="../../../content/images/slice_2_0.png" style="width: 28px;  height: 131px;"></td>
    <td class="iphone"><img src="../../../content/images/slice_2_1.png" style="width: 320px;  height: 131px;"></td>
    <td class="iphone"><img src="../../../content/images/slice_2_2.png" style="width: 29px;  height: 131px;"></td>
</tr>
</table>
<br />
<br />
<div class="well well-large">
<div class="greytext">
<h4>
View this menu on your mobile device by using this link:
</h4>
<h3>
@ViewBag.Url
</h3>
</div>
<button type="button" class="btn btn-success btn-small" id="send_btn" data-loading-text="Sending..."><i class="icon-envelope icon-white"></i> Email me this link</button>
</div>
</center>

@if (!ViewBag.MenuBuilderPreview)
{
    <text><br /><br /></text>
    if (string.IsNullOrEmpty(ViewBag.ReturnUrl))
    {
        @Html.ActionLink("Edit Menu", "Edit", "Menu", new { id = ViewBag.MenuId }, null);
    }
    else if (ViewBag.ReturnUrl.Contains("Details"))
    {
        //for link to menu items editor
        @Html.ActionLink("Back to Editor", (string)ViewBag.ReturnUrl, "MenuTree", new { parent = 0, idx = -1, source = "MenuEditor", ReturnUrl = "/Edit/" + ViewBag.MenuId }, null);
    }
    else
    {
        @Html.ActionLink("Back to Editor", (string)ViewBag.ReturnUrl, "Menu");
    }
    <text><br />
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
    </text>
}

</div> <!-- hero -->

<script type="text/javascript">
    //reload iframe once
    var iframeLoadCount = 0;
    function reloadOnce(iframe) {
        iframeLoadCount++;
        if (iframeLoadCount <= 1) {
            iframe.contentWindow.location.reload(); 
        }
    } 

    var emailValue = '@(ViewBag.Email)';
    var urlValue = '@( ViewBag.Url)';

    //stateful buttons
    $(document).ready(function () {
        $('#send_btn').button();

        $('#send_btn').click(function () {
            $(this).button('loading');

            //post via AJAX so we stay on this page and not redirected
            $.post("@Url.Action("EmailPreviewLink","Menu")", { email: emailValue, url: urlValue}, function(data){
               $('#send_btn').button('reset'); 
            });
        });
    });
</script>
